.layout {
  display: grid;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  
  color: white;

  grid-template-areas:
    "head head head"
    "empty main side"
    "foot foot foot";
  grid-template-rows: 70px 1fr 40px;
  grid-template-columns: 200px 1fr 200px;

  .headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: head;
    background-color: rgba(0, 0, 0, 0.329);
  }
  .mainContainer{
    grid-area: main;    
  }
  .sideContentContainer{
    grid-area: side;
  }
  .footerContainer{
    grid-area: foot;
  }
}

.headerNav {  
    
  ul{
    display: flex;
    align-items: center;
    gap: 3rem;

    a{
      color: white;
      text-decoration: none;
      font-weight: normal;
      font-size: large;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

/*CARD COMPONENT*/

.card {

  background-color: rgba(0, 0, 0, 0.329);
  border: 1px solid var(--borders);
}
