:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;  
  background-color: #242424;

  --borders: #8a8a8a9f;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a{
  color: white;      
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.button{
  padding: 8px 15px 8px 15px;
  background-color: #cbf8f2;
  border-radius: 8px;
}

.button:hover{
  cursor: pointer;  
  background-color: #cbf8f2bd;
}